<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <style>
      h4 {
        font-family: 'Lobster', cursive;
      }
    </style>
    <title>Pokémon</title>
  </head>
  <body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" class="media-object  img-responsive img-thumbnail"></img>
    <div style="margin-bottom: 30px;">

      <form action="/" method="POST">
        <input class="bg-warning"
          type="text"
          name="id"
          id="id"
          placeholder="Numero entre 1 e 600"
        />
        <input class="bg-warning" type="submit" value="Enviar" />
      </form>
    </div>

    <div>
      <div
        style="
          height: 280px;
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background: rgb(8, 133, 122);
          border-radius: 20px;
        "
      >
        <h4 style="color: white"><%=dado.name %></h4>

        <img
          style="max-height: 180px; max-width: 180px"
          src="<%=dado.img %>"
          alt="<%=dado.name %>"
        />
      </div>
    </div>
  </body>
</html>
